 .container{
    width: 45%;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
 }

 h1, img {
   text-align: center;
 }
 img {
    height: 15rem;
    align-self: auto;
 }

  .full-width{
    width: 100%;
  }

  .status-prioridade {
    display: flex;
    justify-content: space-between;
  }
  .status-prioridade mat-form-field{
    width: 45%;
  }

 .descricao {
  min-height: 6rem;
  max-height: 10rem;
 }

 .button-row button{
   margin-top: .5rem;
 }
 