.container {
    width: 90%;
    margin: auto;
}
table {
    width: 100%;
  }

 mat-form-field {
    width: 100%;
 }

 .button-row {
    margin: 8px 8px 8px 0;
    display: flex;
 }

 .flex-container {
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

 .edit{
   color: rgb(224, 160, 22);
   margin-right: .5rem;
 }
 .delete {
   color: rgb(216, 15, 15);
 }

 mat-radio-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
 }